body {
  display: flex;
  flex-direction: column;
  color: #fff;
  background-color: rgb(48, 48, 48);
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;

  margin: 0;
  font-family: 'Verdana', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  text-align: center;
}
